# Below are the code owners for this repository. Their approval is required to make any changes.

# Someone from the Infrastructure Team needs to approve all changes
*       @binaridigital/hamzadastagir
*       @binaridigital/syedhaiderkarrar
